@define-color accent-color #ffbf00;
@define-color bg-color #111111;
@define-color color1 #FF1744;
@define-color color2 #E040FB;
@define-color color3 #B388FF;
@define-color color4 #18FFFF;
@define-color color5 #B9F6CA;
@define-color color6 #CCFF90;
@define-color color7 #FF9100;
@define-color color8 #FF3D00;

* {
    font-family: "Iosevka", FontAwesome, Roboto, Helvetica, Arial, sans-serif;    
    font-size: 13px;
}

window#waybar {
    background-color: @bg-color;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inset 0 -3px @accent-color;
}

#workspaces button.focused {
    background-color: @accent-color;
    color: black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-bluetooth,
#custom-pacman_updates,
#custom-volume,
#mpd {
    padding-right: 10px;
}

#custom-network_icon,
#custom-disk_icon,
#custom-memory_icon,
#custom-cpu_icon,
#custom-gammastep,
#custom-pacman_updates_icon,
#custom-bluetooth_icon,
#custom-volume_icon,
#custom-clock_icon {
    padding: 0px 4px 0px 10px;
    font-size: 24px;
}

#custom-bluetooth_icon {
    font-size: 14px;
}

#mode {
    padding: 0 10px;
    background-color: #1DE9B6;
    color: black;
}

#custom-capslock {
    padding: 0 10px;
    background-color: #FF3232;
    font-size: 20px;
}
	
#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#custom-clock_icon {
}

#custom-network_icon {
}

#network.disconnected {}

#custom-disk_icon {
}

#custom-memory_icon {
}

#custom-cpu_icon {
}

#custom-pacman_updates_icon {
}

#custom-bluetooth_icon {
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#keyboard-state > label {
    padding: 0 5px;
}

#custom-gammastep {
    color: #ffbf00;
    padding: 0 4px;
}
