@define-color accent-color #fabd2f;
@define-color error-color #fb4934;
@define-color bg-color transparent;
@define-color right-fg-color white;
@define-color left-fg-color black;
@define-color left-inactive-fg-color rgba(0,0,0,0.4);

* {
    font-family: "Square Pixel7", sans-serif;    
    font-size: 13px;
}

window#waybar {
    background-color: @bg-color;
}

window#waybar.hidden {
    background-color: @bg-color;
}

#workspaces button {
    padding: 0 10px;
    border: none;
    border-radius: 0;
    color: @left-inactive-fg-color;
    background-color: @bg-color;
}


#workspaces button.active {
    color: @left-fg-color;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#custom-pacman_updates,
#custom-volume,
#custom-bluetooth,
#battery,
#backlight,
#custom-printer {
    color: @right-fg-color;
}

#custom-separator {
    color: rgba(255,255,255,0.7);
    padding: 0 6px;
}